* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    
    background-image: linear-gradient(to bottom right, #114e99, #1757a7, #4a95f0, #5899e7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: #fefefe;
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0.2rem 0.2rem 0.5em #144d94;
}

#logo {
    width: 17rem;
    color: #3c8cec;
}

form {
    width: 19rem;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

input, button {
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    width: -webkit-fill-available;
    border: 1px solid #3c8cec;
    border-radius: 0.25rem;
    
}

input:focus{
    outline: 1px solid #1b5fb3;
}

button:focus{
    outline: none;
}

button {        
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled]{
    opacity: 0.8;
}

.clear {
    background: transparent;
    color: #3c8cec;
    border: none;
}

.solid {
    background: #3c8cec;
    color: white;
}

.outline {
    background: transparent;
    color: #3c8cec;
    border: 1px solid #3c8cec;
}
