*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    
    background-image: linear-gradient(to bottom right, #114e99, #1757a7, #4a95f0, #5899e7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: #fefefe;
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0.2rem 0.2rem 0.5em #144d94;
}

#logo{
    width: 17rem;
    color: #3c8cec;
}

form{
    width: 19rem;
}

button{
    padding: 0.8rem;
    width: 100%;
    border: 1px solid #3c8cec;
    border-radius: 0.25rem; 
}
input{
    padding: 0.8rem;
    width: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 0.25rem;
}

.form-field{
    margin-bottom: 0.8rem;
}