
header {
    text-align: right;
}

header button {
    width: auto;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin: 1rem;
}

main {
    justify-content: center;
    align-items: center;
    display: flex;
}